@model HCK_WebApp.Models.AddVoyageVM

@{
    ViewBag.Title = "AddVoyage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recherche d'un train</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                Date de départ :
                @*@Html.EditorFor(model => model.TravelDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TravelDate, "", new { @class = "text-danger" })*@
                <input class="form-control text-box single-line" id="TravelDate" name="TravelDate" type="text" value="@Model.TravelDate.ToShortDateString()" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                Numéro de train :
                @Html.EditorFor(model => model.TrainNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrainNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.StartTrainStation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartTrainStation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartTrainStation, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-12">
                Gare de départ :
                <select class="form-control">
                    <option>Dijon</option>
                    <option>Lyon</option>
                    <option>Paris</option>
                    <option>Marseille</option>
                    <option>Bordeaux</option>
                </select>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.EndTrainStation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndTrainStation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndTrainStation, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-12">
                Gare d'arrivée :
                <select class="form-control">
                    <option>Lille</option>
                    <option>Grenoble</option>
                    <option>Nantes</option>
                    <option>Rennes</option>
                    <option>Nice</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rechercher" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
