@model HCK_WebApp.Models.TrainAnnounceVM

@{
    ViewBag.Title = "DetailsAnnounceTrain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détail</h2>

<div class="form-horizontal">
    <hr />
    <div class="col-md-12">
        <div class="form-group">
            Activitée proposée :
            <div class="col-md-10">
                @Model.Activite
            </div>
        </div>

        <div class="form-group">
            Nombre de place restante :
            <div class="col-md-10">
                @Model.NbJoueursManquant
            </div>
        </div>

        <div class="form-group">
            Descriptif :
            <div class="col-md-10">
                @Model.Descriptif
            </div>
        </div>


        <div class="form-group">
            Prénom de l'annonceur :
            <div class="col-md-10">
                @Model.Prenom
            </div>
        </div>


        <div class="form-group">
            Age :
            <div class="col-md-10">
                @Model.Age
            </div>
        </div>


        <div class="form-group zoneAction">
            <div class="floatLeft">
                <a><img src="~/Image/add-round-button.png" /></a>
                M'inscrire
            </div>
            <div class="floatRight">
                <a href="/Chat/Conversation"><img src="~/Image/chat.png" /></a>
                Contacter
            </div>
        </div>
    </div>

</div>

@*<p>
    @Html.ActionLink("S'inscrire", "InscriptionToTraject", "Announce", Model, null)
    |
    @Html.ActionLink("Contacter", "ContactOwner")
</p>*@
