@model IEnumerable<HCK_DAL.Annonce>

@{
    ViewBag.Title = "List Announces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes annonces</h2>

<p>
    @Html.ActionLink("Nouvelle annonce", "AddAnnounce")
</p>
<table class="table">
    <tr>
        <th>
            Thème
        </th>
        <th>
            Activité
        </th>
        <th>
            Descriptif
        </th>
        <th>
            Nnb de personnes encore recherchées
        </th>
        <th>
            Activée/désactivée
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @((item.nbSlot - item.nbSlotUtilise))
            </td>
            <td>
                @Html.CheckBoxFor( modelItem => item.estActive.Value)
            </td>
            
            <td>
                @*@Html.ActionLink("Edit", "EditAnnounce", new { id = item.idAnnonce }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.idAnnonce }) |*@
                @Html.ActionLink("Delete", "DeleteAnnounce", new { id = item.idAnnonce })
            </td>
        </tr>
    }

</table>
